{% extends 'base.html' %}

{% block title %}
Contact
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tet.css') }}">
    <div style="margin: 270px 20px 270px 20px">
          <h2>Contacts of the creator</h2>
          <p>Thetl03@gmail.com</p>
          <p>+7(909)999-99-99</p>
          <p>+7(901)911-91-91</p>
        <div style="margin: 10px 20px 0px 20px">
          <a href="https://web.telegram.org/a/#6783971562"><button class="btn btn-outline-light" type="button">Cooperate</button></a>
        </div>
        </div>

{% endblock %}