{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block body %}
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
</head>

<body>
    <h1>{{ title }}</h1>

    <canvas id="chart" width="800" height="200"></canvas>
    <script>
      var pieData = [
        {% for item, label, colors in set %}
          {
            value: {{item}},
            label: "{{label}}",
            color : "{{colors}}"
          },
        {% endfor %}
      ];

      
      var mychart = document.getElementById("chart").getContext("2d");
      steps = 10
      max = {{ max }}

      
      new Chart(document.getElementById("chart").getContext("2d")).Pie(pieData);

    </script>
    <div style="margin: 10px 20px 0px 20px">
<p>In this diagram, you can see the popularity of the flask framework in 2023, the month and the number of people using it.</p>
    </div>
</body>
<div class="card__button">
<a class="btn btn-outline-light" type="button" href="/chartjs-example">View the chart</a>
    </div>

{% endblock %}
